footer#footer
    .container
        .row
            .col-md-4
                .newsletter
                    h4 Newsletter
                    p
                        | Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.
                    #newsletterSuccess.alert.alert-success.hidden
                        strong Success!
                        |  You've been added to our email list.
                    #newsletterError.alert.alert-danger.hidden
                    form#newsletterForm(action='php/newsletter-subscribe.php', method='POST')
                        .input-group
                            input#newsletterEmail.form-control(placeholder='Email Address', name='newsletterEmail', type='text')
                            span.input-group-btn
                                button.btn.btn-default(type='submit') Go!
            .col-md-6
                a(href='/about.php')
                    h4 About Us
                .col-md-6
                    ul.zero-pad-left
                        if footer.leftColumnOfLinks
                            each link in footer.leftColumnOfLinks.links
                                li
                                    a(href='#{link.url}')!= link.title
                .col-md-6
                    ul.zero-pad-left
                        if footer.rightColumnOfLinks
                            each link in footer.rightColumnOfLinks.links
                                li
                                    a(href='#{link.url}')!= link.title
            .col-md-2
                h4 Follow Us
                .social-icons
                    ul.social-icons
                        li.facebook
                            a(href='https://www.facebook.com/CambiumNetworks', target='_blank', data-placement='bottom', data-tooltip='', title='Facebook') Facebook
                        li.twitter
                            a(href='https://twitter.com/cambiumnetworks', target='_blank', data-placement='bottom', data-tooltip='', title='Twitter') Twitter
                        li.linkedin
                            a(href='https://www.linkedin.com/company/2379548?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A1419738891393630444320%2CVSRPtargetId%3A2379548%2CVSRPcmpt%3Aprimary', target='_blank', data-placement='bottom', data-tooltip='', title='Linkedin') Linkedin
                        li.youtube
                            a(href='https://www.youtube.com/user/CambiumNetworksLtd', target='_blank', data-placement='bottom', data-tooltip='', title='YouTube') YouTube
                        li.instagram
                            a(href='https://instagram.com/cambiumnetworks/', target='_blank', data-placement='bottom', data-tooltip='', title='Instagram') Instagram
                        li.googleplus
                            a(href='https://plus.google.com/+Cambiumnetworks/posts', target='_blank', data-placement='bottom', data-tooltip='', title='GooglePlus') Google+
    .footer-copyright
        .container
            .row
                .col-md-1
                    a.logo(href='index.php')
                        img.img-responsive(alt='Porto Website Template', src='/assets/556e46f33596e1dd1833c775/logo-footer.png')
                .col-md-6
                    p Copyright © 2015 Cambium Networks, LTD. All rights reserved. - v#{footer.version}
                .col-md-5
                    nav#sub-menu
                        ul
                            li
                                a(href='04.php') Company Terms & Conditions
                            li
                                a(href='04.php') Privacy Policy
    #not-implemented-row.row
        .col-md-4.col-md-offset-4
            #not-implemented.hide.alert.alert-success.alert-dismissible(role='alert')
                button.close(type='button', data-hide='alert', aria-label='Close')
                    span(aria-hidden='true') ×
                strong Feature not be implemented:
                |  It will be in the future.
