// Basic
meta(charset='utf-8')
if metaTags && metaTags.title
    title!= metaTags.title
else
    title Cambium Networks
meta(name='keywords', content='HTML5 Template')
link(rel="icon", type="image/png", href="/favicon.png")
meta(name='description', content='Porto - Responsive HTML5 Template')
//- meta(name='author', content='okler.net')
// Mobile Metas
meta(name='viewport', content='width=device-width, initial-scale=1.0')
// Web Fonts
link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light', rel='stylesheet', type='text/css')
!= assets.unmodified.css('vendor')
!= assets.css('cambium')
// Head Libs
script(src='/vendor/modernizr/modernizr.js')
//if IE
  link(rel='stylesheet', href='/css/ie.css')
//if lte IE 8
  script(src='/vendor/respond/respond.js')
//-   script(src='/vendor/excanvas/excanvas.js')
