// Vendor
!= assets.unmodified.js('vendor')
!= assets.js('cambium')
script(type='text/javascript').
    function googleTranslateElementInit () {
        new google.translate.TranslateElement({
            pageLanguage : 'en',
            layout : google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
script(type = 'text/javascript', src = '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')

// Fills image with gray background of correct dimensions if image does not exist, 
// based on height and width attributes in blank img tag
script.
    var $imgs = $('img.fixed-aspect-ratio');
    $(window).on('resize load', _.throttle(function() {
        $imgs.each(function() {
        
            var $this = $(this),
                width = $this.attr('width'),
                height = $this.attr('height'),
                aspectRatio,
                displayWidth;
                
            if (!width || !height) {
                return;
            }
            
            aspectRatio = width / height;
            displayWidth = $this.width();
                
            $this.css({"height": displayWidth / aspectRatio + "px", "display": "inline-block", "background-color": "#d4d4d4"});
        });
    }, 500));

if customScripts
    each code in customScripts
        != code
if siteWideScripts && siteWideScripts.scriptsToIncludeAtBottomOfPage
    each code in siteWideScripts.scriptsToIncludeAtBottomOfPage
        != code
