mixin videoPlayer(videoCode)
    div.brightcove-container
        object#myExperience3852638736001.BrightcoveExperience
            param(name='bgcolor', value='#FFFFFF')
            param(name='width', value='480')
            param(name='height', value='270')
            param(name='playerID', value='3562771454001')
            param(name='playerKey', value='AQ~~,AAADPYWyyRk~,pVnmvrWJA9enjYkK9TbXQ82NqWoBmpaq')
            param(name='isVid', value='true')
            param(name='isUI', value='true')
            param(name='dynamicStreaming', value='true')
            param(name='@videoPlayer', value='#{videoCode}')
